name: Run mypy and pytest

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - 'main'
      - 'release/*'
      - 'version1.0'
    tags:
      - 'v*'
  pull_request:
  merge_group:
    branches: ['main']


jobs:
  pytestmypy:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        exclude:
          - os: windows-latest
            python-version: "3.12"
          - os: windows-latest
            python-version: "3.13"
          - os: windows-latest
            python-version: "3.14"
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v6.0.1
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          requirements.txt
    - name: upgrade pip setuptools wheel
      run: python -m pip install --upgrade pip setuptools wheel
      shell: bash
    - name: install broadbean with test dependencies
      run: |
        pip install .[test] -c requirements.txt
    - name: Run Mypy
      run: mypy src
    - name: Run tests
      run: |
        pytest --cov=broadbean --cov-report xml --hypothesis-profile ci tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        files: ./coverage.xml
        env_vars: OS,PYTHON
        token: ${{ secrets.CODECOV_TOKEN }}
